.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.main-container {
  display: flex;
  width: 70vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* background-color: white; */
  background-color: rgb(252, 252, 252);
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}